<!DOCTYPE html>
<html lang="en">

<head>
    <title>Modon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/fontawesome.css" />
    <link rel="stylesheet" href="./css/chartist.min.css">
    <link rel="stylesheet" href="./css/menu.css" />
    <link rel="stylesheet" href="./css/style.css" />

</head>

<body>
    <video autoplay muted loop id="bgVideo">
        <source src="./videos/Modon_loop_bg.mp4" type="video/mp4">
        </video>
        <main>
            <section id="section1">
                <div class="row">
                    <div class="col-12">
                        <div class="logo-wrapper">
                            <div class="logo-center">
                                <img src="images/modon.png" alt="Modon Logo" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>

    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/modernizr.custom.js"></script>
    <script src="./js/classie.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/imagesloaded.pkgd.min.js"></script>
    <script src="./js/masonry.pkgd.min.js"></script>
    <script src="./js/anime.min.js"></script>
    <script src="./js/lottie.min.js"></script>
    <script src="./js/chartist.min.js"></script>
    <script src="./js/routing.js"></script>
    <script src="./js/script.js"></script>
    <script src="./socket.io/socket.io.js"></script>


    <script type="text/javascript">

    function section2(section) {

        /* SECTION 2 ANIMATION */

        console.log(section);
        let english = document.getElementById('eng_vdo')
        var animation =  lottie.loadAnimation({
            container: english,
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: './svg/english_video/data.json',
        });
        
        /* SECTION 2 REDIRECTION TO SECTION 3 */

        animation.addEventListener('DOMLoaded', function(){

            // english

            document.querySelector('.eng').addEventListener('click',function(){
                jQuery("main").load("pages/section3 .english",function(e){
                    section3('section3');
                });
            });

            //arabic

            document.querySelector('.arabic').addEventListener('click',function(){
                jQuery("main").load("pages/section3 .arabic",function(e){
                    section3('section3');
                });
            });
        });
    }


    function section3(section) {
        console.log(section)
    }

    function getLottie(state){

        let svgContainer = document.getElementById('forStateSvg');
        let path2anim = './svg/states/';
        let lottieObj = {
            container: svgContainer,
            path: path2anim+state+'.json',
            renderer: 'svg',
            loop: false,
            autoplay: false,
        };

        return lottieObj;

    }

    function getIndustrialData(industrySelector) {

        $.ajax({
            type: "POST",
            url: '/fetchIndustrialData',
            data : { industryData : industrySelector },
            dataType: "json",
            processdata: true,

            success: function(re) {
                let lang = $('#section4').attr("class").split(/\s+/)[0];
                let forPopup;
                if(lang=="english"){
                    forPopup = re.data;
                }else{
                    forPopup = re.data2;
                }
                
                $('#mapPopup').html('').html(forPopup)
                $('#forSvg #mapPopup').fadeIn();
                $('#forSvg #mapPopup').css("z-index","2");
            },

            error: function() {

            }
        });
    }

    function section4(section) {
        $('.dropdown.dd_selected').first().after().html('').append(APP.selectedCitiesHtml);
        $('#section4 .btn_round.briefcase .badge').html(APP.selectedCities.length);
        //riyadh
        
        let lang = $('#section4').attr("class").split(/\s+/)[0];
        if(lang=="english"){
          var riyadhAnim = lottie.loadAnimation(getLottie('riyadh'));
          var buraidahAnim = lottie.loadAnimation(getLottie('buraidah'));
          var hailAnim = lottie.loadAnimation(getLottie('hail'));
          var medinaAnim = lottie.loadAnimation(getLottie('medina'));
          var ararAnim = lottie.loadAnimation(getLottie('arar'));
          var skakaAnim = lottie.loadAnimation(getLottie('skaka'));
          var tabukAnim = lottie.loadAnimation(getLottie('tabuk'));
          var makkahAnim = lottie.loadAnimation(getLottie('makkah'));
          var albahaAnim = lottie.loadAnimation(getLottie('al_baha'));
          var abhaAnim = lottie.loadAnimation(getLottie('abha'));
          var jazanAnim = lottie.loadAnimation(getLottie('jazan'));
          var najranAnim = lottie.loadAnimation(getLottie('najran'));
          var dammanAnim = lottie.loadAnimation(getLottie('damman'));
        }else {
          var riyadhAnim = lottie.loadAnimation(getLottie('riyadh'));
          var buraidahAnim = lottie.loadAnimation(getLottie('buraidah'));
          var hailAnim = lottie.loadAnimation(getLottie('hail'));
          var medinaAnim = lottie.loadAnimation(getLottie('medina'));
          var ararAnim = lottie.loadAnimation(getLottie('arar'));
          var skakaAnim = lottie.loadAnimation(getLottie('skaka'));
          var tabukAnim = lottie.loadAnimation(getLottie('tabuk'));
          var makkahAnim = lottie.loadAnimation(getLottie('makkah'));
          var albahaAnim = lottie.loadAnimation(getLottie('al_baha'));
          var abhaAnim = lottie.loadAnimation(getLottie('abha'));
          var jazanAnim = lottie.loadAnimation(getLottie('jazan'));
          var najranAnim = lottie.loadAnimation(getLottie('najran'));
          var dammanAnim = lottie.loadAnimation(getLottie('damman'));
        }
        // ----------


        riyadhAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        buraidahAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        hailAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        medinaAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        ararAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        skakaAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        tabukAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        makkahAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        albahaAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        abhaAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        jazanAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        najranAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        dammanAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        riyadhAnim.addEventListener("DOMLoaded",function(){

            //ASSIGNING CITY TYPES

            $('.Riyadh1_1, .AlZulfi_21, .Sudayer_16, .Shaqra_32, .Dhurma_37, .Riyadh3_26, .AlKharj_17, .Riyadh2_2').addClass("industry");
            $('.RiyadhTechnology,.AlRaidah').addClass("technology");
            //$('.al, .sudair, .durma').addClass("modern");


            //$('.riyadh_2nd, .riyadh_3rd, .riyadh, .Shaqra_21, .al_kharj, .riyahd_1st, .al, .sudair, .durma').click(function(e){
            $('.Riyadh2_2, .Sudayer_16, .AlZulfi_21, .Shaqra_32, .Riyadh3_26, .Dhurma_37, .AlKharj_17, .Riyadh1_1').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            });

            $('.RiyadhTechnology').click(function(e){
                console.log($(this).attr("class").split(/\s+/)[0])
                $('#forSvg #riyadhPopup').fadeIn();
                $('#forSvg #riyadhPopup').css("z-index","2");
                e.stopPropagation();
            });

            $('.AlRaidah').click(function(e){
                console.log($(this).attr("class").split(/\s+/)[0])
                $('#forSvg #alraidahPopup').fadeIn();
                $('#forSvg #alraidahPopup').css("z-index","2");
                e.stopPropagation();
            });
        });

        buraidahAnim.addEventListener("DOMLoaded",function(){

            $('.AlQassim_7, .AlQassim2_25').addClass("industry");
            $('.AlQassimOsais_44').addClass("modern");

            $('.AlQassimOsais_44, .AlQassim_7, .AlQassim2_25').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })
        });

        hailAnim.addEventListener("DOMLoaded",function(){
            $('.Hail_13').addClass("industry");

            $('.Hail_13').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })
        })

        medinaAnim.addEventListener("DOMLoaded",function(){

            $('.AlMadinaAlMunawwara_9').addClass("industry");
            $('.YanbueOsais_42').addClass("modern");

            $('.AlMadinaAlMunawwara_9, .YanbueOsais_42').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })
        })

        ararAnim.addEventListener("DOMLoaded",function(){

            $('.Arar_19, .waadalshamal_48').addClass("industry");

            $('.Arar_19, .waadalshamal_48').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })
        })

        skakaAnim.addEventListener("DOMLoaded",function(){
            $('.skaka12').addClass("industry");
            $('.AlJoufOsais_11').addClass("modern");
            //NO IDS in SVG
            $('.AlJoufOsais_11').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })

        })

        tabukAnim.addEventListener("DOMLoaded",function(){

            $('.Tabuk_12').addClass("industry");

            $('.Tabuk_12').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })
        })

        makkahAnim.addEventListener("DOMLoaded",function(){

            $('.Rabigh_39, .Jeddah1_3, .Jeddah2_15, .Jeddah3_28, .MakkahAlMukarrama_6').addClass("industry");
            $('.WadiMakkah').addClass("technology");
            $('.JeddahOsais_29').addClass("modern");

            $('.Rabigh_39, .Jeddah1_3, .Jeddah2_15, .Jeddah3_28, .MakkahAlMukarrama_6, .JeddahOsais_29').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })

            $('.WadiMakkah').click(function(e){
                console.log($(this).attr("class").split(/\s+/)[0])
                $('#forSvg #wadiPopup').fadeIn();
                $('#forSvg #wadiPopup').css("z-index","2");
                e.stopPropagation();
            });
        })

        albahaAnim.addEventListener("DOMLoaded",function(){
            $('.Albaha_27').addClass("industry");

            $('.Albaha_27').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })
        })

        abhaAnim.addEventListener("DOMLoaded",function(){

            $('.Assir_10').addClass("industry");

            $('.Assir_10').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })
        })

        jazanAnim.addEventListener("DOMLoaded",function(){

            $('.Jazan_18').addClass("industry");

            $('.Jazan_18').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })
        })

        najranAnim.addEventListener("DOMLoaded",function(){

            $('.Najran_14').addClass("industry");

            $('.Najran_14').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            })
        })

        dammanAnim.addEventListener("DOMLoaded",function(){

            $('.Alahsa_36, .Dammam_5, .Dammam1_4, .Dammam3_30, .Ahsa1_8, .HafrAlbatin_35').addClass("industry");
            $('.AhsaOsais_38').addClass("modern");


            $('.Alahsa_36, .Dammam_5, .Dammam1_4, .Dammam3_30, .Ahsa1_8, .HafrAlbatin_35, .AhsaOsais_38').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            });
        })


        $('.checkbox input').on("change",function(){
            if($("#check1").is(':checked')){
                $('.industry').fadeIn(500);
            }else{
                $('.industry').fadeOut(500);
            }
            if($("#check2").is(':checked')){
                $('.technology').fadeIn(500);
            }else{
                $('.technology').fadeOut(500);
            }
            if($("#check3").is(':checked')){
                $('.modern').fadeIn(500);
            }else{
                $('.modern').fadeOut(500);
            }
            if(($("#check1").is(':checked')||$("#check2").is(':checked')||$("#check3").is(':checked'))==false){
                $('.modern, .industry, .technology').fadeOut(100);
            }
        })

        //CITY ANIMATIONS ON SAUDI MAP

        $('#Riyadh,[data-name=" Riyadh"]').on("click",function(){
            stateAnimate('.Riyadh',riyadhAnim);
            $('#section4 .map-head.city').html("Al Riyadh")
        })

        $('#Buraidah,[data-name="buraidah"]').on("click",function(){
            stateAnimate('.Buraidah',buraidahAnim);
            $('#section4 .map-head.city').html("Qassim")
        })

        $('#Hali,[data-name=" Hail"]').on("click",function(){
            stateAnimate('.Hail',hailAnim);
            $('#section4 .map-head.city').html("Hail")
        })

        $('#Medina,[data-name=" Medina"]').on("click",function(){
            stateAnimate('.Medina',medinaAnim);
            $('#section4 .map-head.city').html("Madinah")
        })

        $('#Arar,[data-name=" Arar"]').on("click",function(){
            stateAnimate('.Arar',ararAnim);
            $('#section4 .map-head.city').html("Northern")
        })

        $('#Skaka,[data-name=" Skaka"]').on("click",function(){
            stateAnimate('.Skaka1',skakaAnim);
            $('#section4 .map-head.city').html("Al Jawf")
        })

        $('#Tabuk,[data-name=" Tabuk"]').on("click",function(){
            stateAnimate('.Tabuk1',tabukAnim);
            $('#section4 .map-head.city').html("Tabuk")
        })

        $('#Makkah,[data-name=" Makkah"]').on("click",function(){
            stateAnimate('.Makkah1',makkahAnim);
            $('#section4 .map-head.city').html("Makkah")
        })

        $('#Al_Baha,[data-name=" Al_baha"]').on("click",function(){
            stateAnimate('.Al',albahaAnim);
            $('#section4 .map-head.city').html("Baha")
        })

        $('#Abha,[data-name="abha-2"]').on("click",function(){
            stateAnimate('.Abha',abhaAnim);
            $('#section4 .map-head.city').html("Asir")
        })

        $('#Jazan,[data-name=" Jazan"]').on("click",function(){
            stateAnimate('.Jazan1',jazanAnim);
            $('#section4 .map-head.city').html("Jazan")
        })

        $('#Najran,[data-name=" Najran"]').on("click",function(){
            stateAnimate('.Najran1',najranAnim);
            $('#section4 .map-head.city').html("Najran")
        })

        $('#Dammam,[data-name=" Damman"]').on("click",function(){
            stateAnimate('.Damman1a',dammanAnim);
            $('#section4 .map-head.city').html("Eastern");
        })

    }


    function section5(section) {
        console.log(section)
    }

    function section6(section) {

        // BAR CHART CODE
        var dataGraph = JSON.parse($('#targtdInd').val())
        var data = {
            labels: [],
            series: []
        };
        data.labels = dataGraph.labels
        data.series.push(dataGraph.series)
        console.log(data)
        var options = {
            fullWidth: true,
            seriesBarDistance: 15,
            axisX: {
                offset: 90
            },
            axisY: {
                onlyInteger: true
            }
        };
        new Chartist.Bar('.ct-chart', data, options);
        APP.makeCheckbox();

        //Gallery modal functionality

        $('[data-target="#galleryModal"]').click(function(e){
            let img = $(this).find('img').attr("src");
            $('#galleryModal').find('img').attr("src",img)
        })

        $('[data-target="#videoModal"]').click(function(e){
            let video = $(this).find('source').attr("src");
            $('#videoModal').find('source').attr("src",video)
        })


    }

    function section7(section) {
        console.log(section)
    }

    //COMMON SIDE BUTTONS FOR LOADING

    //reset button

    jQuery("main").on("click",".reset",function(){
        location.reload();
    });

    // ANIMATION FUNCTIONS

    function sideBarFadeIn(){
        $('nav').animate({"opacity":"1","z-index":"2"},70);
    }

    function stateAnimate(state,stateAnim){
        jQuery('.map-head.region').hide();
        jQuery('.map-head.city').fadeIn();
        $('#forSvg #saudi').fadeOut(500);
        console.log("showing "+state)
        $(state).parent().parent().show();
        stateAnim.goToAndPlay(0,true);

    }

    function makePopup(){



    }



    var socket = io.connect();
    socket.on('broadML', function(data) {

        //alert(data);
        if(data == 'mainlogo'){
            jQuery('.logo-center').trigger("click");
        }

        if(data == 'langEng'){
            jQuery("main").load("pages/section3 .english",function(e){
                section3('section3');
            });
        }

        if(data == 'skipbtn'){
            jQuery('.skip-btn1').trigger("click");
        }

        if(data == 'videobutton'){
            // jQuery('.video-poster').fadeOut();
            // jQuery('.video-controls').fadeOut();
            // var play_vdo1 = document.getElementById("modon-vdo1");
            // play_vdo1.play();
            // jQuery(play_vdo1).on('ended',function(){
            //   jQuery("main").load("pages/section4 .english",function(e){
            //     section4('section4');
            //   });
            // });
            jQuery('.play-btn1').trigger("click");
        }
        // ------------------------------
        if(data == '.Riyadh'){
            jQuery('#Riyadh,[data-name=" Riyadh"]').trigger("click");
        }

        if(data == '.Buraidah'){
            jQuery('#Buraidah,[data-name="buraidah"]').trigger("click");
        }

        if(data == '.Hail'){
            jQuery('#Hali,[data-name=" Hail"]').trigger("click");
        }

        if(data == '.Medina'){
            jQuery('#Medina,[data-name=" Medina"]').trigger("click");
        }

        if(data == '.Arar'){
            jQuery('#Arar,[data-name=" Arar"]').trigger("click");
        }

        if(data == '.Skaka'){
            jQuery('#Skaka,[data-name=" Skaka"]').trigger("click");
        }

        if(data == '.Tabuk'){
            jQuery('#Tabuk,[data-name=" Tabuk"]').trigger("click");
        }

        if(data == '.Makkah1'){
            jQuery('#Makkah,[data-name=" Makkah"]').trigger("click");
        }

        if(data == '.Al'){
            jQuery('#Al_Baha,[data-name=" Al_baha"]').trigger("click");
        }

        if(data == '.Abha'){
            jQuery('#Abha,[data-name=" abha-2"]').trigger("click");
        }

        if(data == '.Jazan1'){
            jQuery('#Jazan,[data-name=" Jazan"]').trigger("click");
        }

        if(data == '.Najran1'){
            jQuery('#Najran,[data-name=" Najran"]').trigger("click");
        }

        if(data == '.Damman'){
            jQuery('#Dammam,[data-name=" Damman"]').trigger("click");
        }
        // --------------------------------


        if(data == 'leftMenuSlide'){
            jQuery('#showLeft').trigger("click");
        }

        if(data == 'check1'){
            jQuery('#check1').prop('checked',true);
            $('.checkbox input').trigger('change');

        }
        if(data == 'check2'){
            jQuery('#check2').prop('checked',true);
            $('.checkbox input').trigger('change');
        }
        if(data == 'check3'){
            jQuery('#check3').prop('checked',true);
            $('.checkbox input').trigger('change');
        }
        if(data == 'uncheck1'){
            jQuery('#check1').prop('checked',false);
            $('.checkbox input').trigger('change');
        }
        if(data == 'uncheck2'){
            jQuery('#check2').prop('checked',false);
            $('.checkbox input').trigger('change');
        }
        if(data == 'uncheck3'){
            jQuery('#check3').prop('checked',false);
            $('.checkbox input').trigger('change');
        }

        if(data == 'onLoad'){
            location.reload();
        }

        if(data == 'mainReset'){
            jQuery('.dropdown.dd_home a.reset').trigger("click");
        }

        if(data == 'mainMap'){
            jQuery('.main-map').trigger("click");
        }

        if(data == 'videobutton2'){
            jQuery('.btn_vdo').trigger("click");
        }
    });

    </script>

    </html>
