/* IPAD MEDIA QUERY */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {

    /* SECTION 1 STYLES */

    body.ipad {
        //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
        overflow: hidden;
    }

    html {
        overflow: hidden;
    }

    section {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .ipad #section1 .logo-center img {
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    /* #bgVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    } */

    /* SECTION 3 STYLES */

    #section3 .video-poster,
    #section3 .video-controls {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #section3 .lang-btn1,
    #section3 .lang-btn2 {
        bottom: 18px;
    }

    /* SECTION 4 STYLES */

    section#section4 > .fix-row {
        display: none
    }
    section#section4 > .content-row {
        //height: 100%;
    }
    .lang-btn1 .btn-dropdown {
        margin: 0 30px 0 0;
    }
    .ipad #section4  #saudi {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .ipad .checkbox {
        padding-left: 0px;
    }
    .checkbox label::before {
        right: 0;
    }
    .checkbox label::after {
        right: 9px;
    }
    .cbp-spmenu-vertical {
        width: 20vw;
    }
    .ipad .cbp-spmenu-left {
        left: -160px;
    }
    .ipad .cbp-spmenu-left.cbp-spmenu-open {
        left: -17px;
    }
    .ipad .cbp-spmenu-open .menu-icon {
        right: 210px;
        top: 15px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .ipad .form-check .checkbox label, .form-check label {
        padding-left: 50px;
        padding-top: 15px;
        font-size: 15px;
        //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .ipad .menu-toggle {
        padding: 0
    }

    /* SECTION 6 STYLES */

    .box-body .col-6 {
        height: 165px;
        padding: 15px 5px;
    }

    .ipad .cbp-spmenu-push-toright {
        left: 270px;
    }
    .ipad .cbp-spmenu-open .menu-form .menu-icon {
        top: 21px;
        right : 210px;
    }
    .menu-form .menu-icon {
        top: 21px;
        right: 20px;
    }
    .cbp-spmenu-push 
    .ipad .box-1 {
        width: 21vw;
        height: 370px;
    }

    .ipad .box-1.icon-box {
        margin-left: -260px;
    }

    .ipad .box-1.icon-box.display {
        margin-left: 0;
    }

    .ipad .box-2 {
        width: 32vw;
        height: 370px;
        margin: 0 22px;
    }

    .ipad #section6 .box-2 .card .image-area .short-desc {
        font-size: 10px;
        }
    .ipad #section6 .box-2 .card .list-group-item {
        font-size: 12px;
    }
    .ipad .box-body .col-4 {
        height: 100px;
        padding: 15px 0;
    }
    .ipad .box-body .icon-ind span.icon-in {

        width: 50px;
        height: 50px;

    }
    .ipad .box-body .icon-ind span.icon-in img {
        width: 25px;
    }
    .box-body .icon-title {
        font-size: 10px;
    }
    .data-box .head h4 {
        font-size: 20px;
    }
    ul.list {
        padding: 15px;
    }
    #section7 ul.list li {
        font-size: 12px;
        padding-left: 10px;
        line-height: 1.6;
    }
    #section7 ul.list li::before {
        left: -5px;
        top: 5px;
    }
    #section6 .box-2 .card .list-group-item,
    #section7 .box-2 .card .list-group-item {
        font-size: 12px;
    }
}
