<section id="section7" class="english">
    <div class="row fix-row">
        <div class="col-3">
            <div class="logo-holder">
                <img src="images/modon-logo.png" alt="Modon Logo" />
            </div>
            <div class="graphic-holder">
                <img src="images/info-box.png" alt="Modon info" />
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-11">
            <div class="cbp-spmenu-push" id="push">
                <div class="row">
                    <div class="col-1">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <form class="select-form menu-form">
                                <div class="form-check">
                                    <div class="menu-in open-box">
                                        <div class="menu-icon"><img src="images/overview_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Project Overview</span></label>
                                    </div>
                                </div>
                                <div class="form-check" id="gal">
                                    <div class="menu-in open-popup">
                                        <div class="menu-icon"><img src="images/gallery_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Gallery</span></label>
                                    </div>
                                </div>
                            </form>
                            <button class="menu-toggle" id="showLeftPush"></button>
                        </nav>
                    </div>
                    <div class="col-11">
                        <h1 class="text-center map-head">Riyadh Technology Valley</h1>
                        <div class="data-container services">
                            <div class="row justify-content-start no-gutters">
                                <div class="data-box box-1 icon-box">
                                    <div class="ti data-box-in">
                                        <div class="head">
                                            <h4>Project Elements</h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-start d-flex">
                                                <div class="col-4" id="center-area">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/center-area.png" /></span>
                                                    </div>
                                                    <div class="icon-title">center area</div>
                                                </div>
                                                <div class="col-4" id="university-area">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/university-area.png" /></span>
                                                    </div>
                                                    <div class="icon-title">university area</div>
                                                </div>
                                                <div class="col-4" id="research-development">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/research-development.png" /></span>
                                                    </div>
                                                    <div class="icon-title">R&D area</div>
                                                </div>
                                                <div class="col-4" id="technology-companies">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/technology-companies.png" /></span>
                                                    </div>
                                                    <div class="icon-title">technology companies</div>
                                                </div>
                                                <div class="col-4" id="scientific-village">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/scientific-village.png" /></span>
                                                    </div>
                                                    <div class="icon-title">scientific village</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-2">
                                    <div class="card map-popup">
                                        <div class="image-area">
                                            <img src="images/city-image.png" class="card-img-top">
                                            <div class="text">
                                                <p class="short-desc">Located at King Saud University in Riyadh city</p>
                                            </div>
                                        </div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="list-title">Established Date</span><span class="list-data">1430H/ 2009G</span></li>
                                            <li class="list-group-item"><span class="list-title">Total Area (m<sup>2</sup>)</span><span class="list-data">1,670,000</span></li>
                                            <li class="list-group-item"><span class="list-title">Achievement Percentage</span><span class="list-data">35%</span></li>
                                        </ul>
                                        <div class="card-body">
                                            <a href="#" class="card-link">more . . .</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-1">
                                    <div class="head">
                                        <h4>Project Aims</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row no-gutters align-items-start d-flex">
                                            <div class="col-12">
                                                <ul class="list">
                                                    <li>Knowledge investment center and global research, to enhance and localize technology & innovation.</li>
                                                    <li>Achieve sustainable development in supporting the national knowledge economy.</li>
                                                    <li>Activate and strengthen the cooperation between the university and research centers.</li>
                                                    <li>To Build an ideal center in the field of knowledge and technology.</li>
                                                    <li>Attracting and motivating creative talent.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-container gallery">
                            <div class="grid">
                                <h3 class="coming-soon">Coming Soon</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="share-holder">
                <div class="btn_round mail inner-btn btn_email" data-toggle="modal" data-target="#formModal"><i class="fas fa-envelope-open-text"></i></div>
                <div class="btn_round briefcase inner-btn btn_selected">
                    <i class="fas fa-briefcase"></i>
                    <span class="badge badge-warning">0</span>
                    <div class="dropdown dd_selected">
                        <div class="checkbox">
                            <label class="form-check-label" for="check1"><span>Selected Cities</span></label>
                        </div>
                    </div>
                </div>
                <div class="btn_round plus inner-btn"><i class="fas fa-plus"></i></div>
                <div class="btn_round outer-btn"><i class="fas fa-share-alt"></i></div>
            </div>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-12">
            <div class="lang-btn1">
                <div class="btn_lang"><img class="btn1" src="images/eng-selected.png" alt="english sel"/></div>
                <div class="btn_lang"><img class="btn2" src="images/arb.png" alt="arabic"/></div>
                <div class="btn-dropdown btn_vdo" data-toggle="modal" data-target="#mainvideoModal"><div class="btn_round"><i class="fas fa-video"></i></div></div>
                <div class="btn-dropdown btn_home">
                    <div class="btn_round"><i class="fas fa-home"></i></div>
                    <div class="dropdown dd_home">
                        <a class="dropdown-item main-map" href="#">Saudi Arabia Map</a>
                        <a class="dropdown-item reset" href="#">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <img src="images/gallery/riyadh_1st/DJI_0018.JPG" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video width="100%" height="100%" autoplay controls>
                        <source src="images/gallery/riyadh_1st/DJI_0076.MOV" />
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mainvideoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video id="mainvideo" width="100%" height="100%" controls>
                        <source src="videos/modon_film.mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section7" class="arabic">
    <div class="row fix-row">
        <div class="col-3">
            <div class="logo-holder">
                <img src="images/modon-logo.png" alt="Modon Logo" />
            </div>
            <div class="graphic-holder">
                <img src="images/info-box.png" alt="Modon info" />
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-11">
            <div class="cbp-spmenu-push" id="push">
                <div class="row">
                    <div class="col-1">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <form class="select-form menu-form">
                                <div class="form-check">
                                    <div class="menu-in open-box">
                                        <div class="menu-icon"><img src="images/overview_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>ملخص المشروع</span></label>
                                    </div>
                                </div>
                                <div class="form-check" id="gal">
                                    <div class="menu-in open-popup">
                                        <div class="menu-icon"><img src="images/gallery_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>صالة عرض</span></label>
                                    </div>
                                </div>
                            </form>
                            <button class="menu-toggle" id="showLeftPush"></button>
                        </nav>
                    </div>
                    <div class="col-11">
                        <h1 class="text-center map-head">وادي الرياض للتقنية</h1>
                        <div class="data-container services">
                            <div class="row justify-content-start no-gutters">
                                <div class="data-box box-1 icon-box">
                                    <div class="ti data-box-in">
                                        <div class="head">
                                            <h4>عناصر المشروع:</h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-start d-flex">
                                                <div class="col-4" id="center-area">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/center-area.png" /></span>
                                                    </div>
                                                    <div class="icon-title">center area</div>
                                                </div>
                                                <div class="col-4" id="university-area">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/university-area.png" /></span>
                                                    </div>
                                                    <div class="icon-title">university area</div>
                                                </div>
                                                <div class="col-4" id="research-development">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/research-development.png" /></span>
                                                    </div>
                                                    <div class="icon-title">R&D area</div>
                                                </div>
                                                <div class="col-4" id="technology-companies">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/technology-companies.png" /></span>
                                                    </div>
                                                    <div class="icon-title">technology companies</div>
                                                </div>
                                                <div class="col-4" id="scientific-village">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/scientific-village.png" /></span>
                                                    </div>
                                                    <div class="icon-title">scientific village</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-2">
                                    <div class="card map-popup">
                                        <div class="image-area">
                                            <img src="images/city-image.png" class="card-img-top">
                                            <div class="text">
                                                <p class="short-desc">يقع مقر مجمع وادي الرياض للتقنية في جامعة الملك سعود بالعاصمة الرياض</p>
                                            </div>
                                        </div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="list-title">تاريخ الإطلاق:</span><span class="list-data">1430هـ/2009م</span></li>
                                            <li class="list-group-item"><span class="list-title">المساحة الإجمالية (م2)</span><span class="list-data">1,670,000</span></li>
                                            <li class="list-group-item"><span class="list-title">نسبة الإنجاز:</span><span class="list-data">35%</span></li>
                                        </ul>
                                        <div class="card-body">
                                            <a href="#" class="card-link">more . . .</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-1">
                                    <div class="head">
                                        <h4>أهداف المشروع:</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row no-gutters align-items-start d-flex">
                                            <div class="col-12">
                                                <ul class="list">
                                                    <li>Knowledge investment center and global research, to enhance and localize technology & innovation.</li>
                                                    <li>Achieve sustainable development in supporting the national knowledge economy.</li>
                                                    <li>Activate and strengthen the cooperation between the university and research centers.</li>
                                                    <li>To Build an ideal center in the field of knowledge and technology.</li>
                                                    <li>Attracting and motivating creative talent.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-container gallery">
                            <div class="grid">
                                <h3 class="coming-soon">قريبا</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="share-holder">
                <div class="btn_round mail inner-btn btn_email" data-toggle="modal" data-target="#formModal"><i class="fas fa-envelope-open-text"></i></div>
                <div class="btn_round briefcase inner-btn btn_selected">
                    <i class="fas fa-briefcase"></i>
                    <span class="badge badge-warning">0</span>
                    <div class="dropdown dd_selected">
                        <div class="checkbox">
                            <label class="form-check-label" for="check1"><span>Selected Cities</span></label>
                        </div>
                    </div>
                </div>
                <div class="btn_round plus inner-btn"><i class="fas fa-plus"></i></div>
                <div class="btn_round outer-btn"><i class="fas fa-share-alt"></i></div>
            </div>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-12">
            <div class="lang-btn1">
                <div class="btn_lang"><img class="btn1" src="images/eng-selected.png" alt="english sel"/></div>
                <div class="btn_lang"><img class="btn2" src="images/arb.png" alt="arabic"/></div>
                <div class="btn-dropdown btn_vdo" data-toggle="modal" data-target="#mainvideoModal"><div class="btn_round"><i class="fas fa-video"></i></div></div>
                <div class="btn-dropdown btn_home">
                    <div class="btn_round"><i class="fas fa-home"></i></div>
                    <div class="dropdown dd_home">
                        <a class="dropdown-item main-map" href="#">خريطة المملكة العربية السعودية</a>
                        <a class="dropdown-item reset" href="#">إعادة تعيين</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <img src="images/gallery/riyadh_1st/DJI_0018.JPG" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video width="100%" height="100%" autoplay controls>
                        <source src="images/gallery/riyadh_1st/DJI_0076.MOV" />
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mainvideoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video id="mainvideo" width="100%" height="100%" controls>
                        <source src="videos/modon_film.mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
