<section id="section6" class="english" data='<%= cityid %>'>
    <div class="row fix-row">
        <div class="col-3">
            <div class="logo-holder">
                <img src="images/modon-logo.png" alt="Modon Logo" />
            </div>
            <div class="graphic-holder">
                <img src="images/info-box.png" alt="Modon info" />
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-11">
            <div class="cbp-spmenu-push" id="push">
                <div class="row">
                    <div class="col-1">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <form class="select-form menu-form">
                                <div class="form-check" id="tar_ind">
                                    <div class="menu-in open-box">
                                        <div class="menu-icon"><img src="images/tar_ind_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Targeted Industries</span></label>
                                    </div>
                                </div>
                                <div class="form-check" id="inf_ser">
                                    <div class="menu-in open-box">
                                        <div class="menu-icon"><img src="images/infra_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Infrastructure Services</span></label>
                                    </div>
                                </div>
                                <div class="form-check" id="com_ser">
                                    <div class="menu-in open-box">
                                        <div class="menu-icon"><img src="images/com_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Commercial Services</span></label>
                                    </div>
                                </div>
                                <div class="form-check" id="res_ser">
                                    <div class="menu-in open-box">
                                        <div class="menu-icon"><img src="images/res_ser_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Residential Services</span></label>
                                    </div>
                                </div>
                                <div class="form-check" id="gal">
                                    <div class="menu-in open-popup">
                                        <div class="menu-icon"><img src="images/gallery_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Gallery</span></label>
                                    </div>
                                </div>
                            </form>
                            <button class="menu-toggle" id="showLeftPush"></button>
                        </nav>
                    </div>
                    <div class="col-11">
                        <h1 class="text-center map-head"><%= data.IndustrialCityNameEn %></h1>
                        <div class="data-container services">
                            <div class="row justify-content-start no-gutters">
                                <!-- <div class="data-box box-3"></div> -->
                                
                                <div class="data-box box-1 icon-box">
                                    <div class="ti data-box-in">
                                        <div class="head">
                                            <h4>Targeted Industries</h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="row no-gutters">
                                               
                                                <% var obj = { 
                                                '905':'food', '906':'beverages', '907':'textiles', '908':'apparels', 
                                                '909':'food', '910':'beverages', '911':'textiles', '912':'apparels',
                                                '913':'food', '914':'beverages', '915':'textiles', '916':'apparels', 
                                                '917':'food', '918':'beverages', '919':'textiles', '920':'apparels', 
                                                '921':'food', '922':'beverages', '923':'textiles', '924':'apparels', 
                                                '925':'food', '926':'beverages', '927':'textiles', '928':'apparels', 
                                                '929':'food' 
                                                }; %>

                                                <% var objectT = {} ; %>
                                                <% var labels = []; %>
                                                <% var series = []; %>
                                           
                                                <% var temparr = JSON.parse(data.TargetedIndustries); %>                                                
                                                <% for (var vw in temparr) { labels.push(obj[vw]); series.push(temparr[vw]);  %>
                                                 <!--  console.log(arrr[vw]);
                                                  console.log(vw); -->

                                                    <div class="col-4" id="<%= obj[vw] %>">
                                                        <div class="icon-ind">
                                                            <span class="icon-in"><img src="images/icons/target-industry/<%= obj[vw] %>.png" /></span>
                                                        </div>
                                                        <div class="icon-title"><%= obj[vw] %></div>
                                                    </div>
                                                <% } objectT['labels']= labels;  objectT['series']= series;  %>
                                            <input type="hidden" id="targtdInd" value='<%= JSON.stringify(objectT) %>'>

                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="is data-box-in">
                                        <div class="head">
                                            <h4>Infrastructure Services</h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-start d-flex">
                                            
                                            <% var temparr2 = JSON.parse(data.InfrastructureServices); %> 
                                            <% for (var vw in temparr2) { %>

                                            <% if(temparr2[vw] == 'Electricity High Pressure') { %>
                                                <div class="col-4" id="electricity">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/infra-industry/electricity.png" /></span>
                                                    </div>
                                                    <div class="icon-title"><%= temparr2[vw] %></div>
                                                </div>
                                            <% } %>

                                            <% if(temparr2[vw] == 'Medium voltage lines') { %>
                                                <div class="col-4" id="road">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/infra-industry/road.png" /></span>
                                                    </div>
                                                    <div class="icon-title"><%= temparr2[vw] %></div>
                                                </div>
                                            <% } %>

                                            <% if(temparr2[vw] == 'Water network') { %>
                                                <div class="col-4" id="telecom">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/infra-industry/telecom.png" /></span>
                                                    </div>
                                                    <div class="icon-title"><%= temparr2[vw] %></div>
                                                </div>
                                            <% } %>

                                            <% if(temparr2[vw] == 'Water Torrent') { %>
                                                <div class="col-4" id="water">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/infra-industry/water.png" /></span>
                                                    </div>
                                                    <div class="icon-title"><%= temparr2[vw] %></div>
                                                </div>
                                            <% } %>


                                            <% } %>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cs data-box-in">
                                        <div class="head">
                                            <h4>Commercial Services</h4>
                                        </div>
                                        
                                     
                                        <% var temparr3 = data.CommercialServices ? data.CommercialServices : 'NA' %> 
                                           
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-start d-flex">
                                                <div class="col-12">
                                                    <ul class="list">
                                                    <% if(temparr3 != 'NA') { arrt= temparr3.split('•') %>

                                                    <% arrt.forEach(function(dataq){ %>

                                                    <div>• <%- dataq %></div>
                                                    <% }) %>
                                                    
                                                    <% } else { %> 
                                                    <li>NA</li>
                                                    <% } %> 
                                                    
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rs data-box-in">
                                        <div class="head">
                                            <h4>Residential Services</h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-start d-flex">                                               
                                                <div class="col-12">
                                                    <%- data.ResidentialServices %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-2">
                                    <div class="card map-popup">
                                        <div class="image-area">
                                            <img src="images/city-image.png" class="card-img-top">
                                            <div class="text">
                                                <p class="short-desc"><%- data.CompetitiveAdvantageEn %></p>
                                            </div>
                                        </div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="list-title">Established Date</span><span class="list-data"><%- data.EstablishedDate %></span></li>
                                            <li class="list-group-item"><span class="list-title">Total Area (m<sup>2</sup>)</span><span class="list-data"><%= data.Area %></span></li>
                                            <li class="list-group-item"><span class="list-title">Number of Factories</span><span class="list-data"><%- data.Count %> factories</span></li>
                                        </ul>
                                        <div class="card-body">
                                            <a href="#" class="card-link">more . . .</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-1">
                                    <div class="head">
                                        <h4>Distribution of Industries</h4>
                                    </div>
                                    <div class="box-body">
                                        <!-- <div class="ct-chart ct-perfect-fifth"></div> -->
                                        <div class="ct-chart ct-square"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-container gallery">
                            <div class="grid">
                                <div class="grid-sizer"></div>
                                <div class="gutter-sizer"></div>

                                <% var arrImg = ['1','3','4','5','6','7','8','9','10','11','13','16','17','25','30','38','44','48']; %>
                               
                                <% if(arrImg.includes(cityid)){ %>

                                <% for(i=1; i<=11; i++) { %>
                                
                                <% if(i != 4 && i != 8) { %>
                                <div class="grid-item" data-toggle="modal" data-target="#galleryModal">
                                    <img src="images/gallery/<%= cityid %>/<%= i %>.JPG" />
                                </div>

                                <% } else { %>
                               
                                <div class="grid-item grid-item--width2 grid-item--height2" data-toggle="modal" data-target="#videoModal">
                                    <video width="100%" height="100%">
                                        <source src="images/gallery/<%= cityid %>/<%= i %>.mp4" />
                                    </video>
                                </div>

                                <% } %>
                                

                                <% } } else { %> 

                                <div class="grid-item">
                                    <p>Coming Soon</p>
                                </div>

                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="share-holder">
                <div class="btn_round mail inner-btn btn_email" data-toggle="modal" data-target="#formModal"><i class="fas fa-envelope-open-text"></i></div>
                <div class="btn_round briefcase inner-btn btn_selected">
                    <i class="fas fa-briefcase"></i>
                    <span class="badge badge-warning">0</span>
                    <div class="dropdown dd_selected">
                        <div class="checkbox">
                            <label class="form-check-label" for="check1"><span>Selected Cities</span></label>
                        </div>
                    </div>
                </div>
                <div class="btn_round plus inner-btn"><i class="fas fa-plus"></i></div>
                <div class="btn_round outer-btn"><i class="fas fa-share-alt"></i></div>
            </div>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-12">
            <div class="lang-btn1">
                <div class="btn_lang"><img class="btn1" src="images/eng-selected.png" alt="english sel"/></div>
                <div class="btn_lang"><img class="btn2" src="images/arb.png" alt="arabic"/></div>
                <div class="btn-dropdown btn_vdo" data-toggle="modal" data-target="#mainvideoModal"><div class="btn_round"><i class="fas fa-video"></i></div></div>
                <div class="btn-dropdown btn_home">
                    <div class="btn_round"><i class="fas fa-home"></i></div>
                    <div class="dropdown dd_home">
                        <a class="dropdown-item main-map" href="#">Saudi Arabia Map</a>
                        <!-- <a class="dropdown-item city-map" href="#">Riyadh 2nd Map</a> -->
                        <a class="dropdown-item reset" href="#">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <img src="images/gallery/riyadh_1st/DJI_0018.JPG" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video width="100%" height="100%" controls>
                        <source src="images/gallery/riyadh_1st/DJI_0076.MOV" />
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mainvideoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video id="mainvideo" width="100%" height="100%" controls>
                        <source src="videos/modon_film.mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" aria-describedby="fname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="company" aria-describedby="company" placeholder="Company">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="jtitle" aria-describedby="jtitle" placeholder="Job Title">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email">
                        </div>
                        <button type="submit" class="btn sbmt">&nbsp;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section6" class="arabic">
    <div class="row align-items-center">
        <div class="col-12">
            arabic
        </div>
    </div>
</section>
