<section id="section7" class="english">
    <div class="row fix-row">
        <div class="col-3">
            <div class="logo-holder">
                <img src="images/modon-logo.png" alt="Modon Logo" />
            </div>
            <div class="graphic-holder">
                <img src="images/info-box.png" alt="Modon info" />
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-11">
            <div class="cbp-spmenu-push" id="push">
                <div class="row">
                    <div class="col-1">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <form class="select-form menu-form">
                                <div class="form-check">
                                    <div class="menu-in open-box">
                                        <div class="menu-icon"><img src="images/overview_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Project Overview</span></label>
                                    </div>
                                </div>
                                <div class="form-check" id="gal">
                                    <div class="menu-in open-popup">
                                        <div class="menu-icon"><img src="images/gallery_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Gallery</span></label>
                                    </div>
                                </div>
                            </form>
                            <button class="menu-toggle" id="showLeftPush"></button>
                        </nav>
                    </div>
                    <div class="col-11">
                        <h1 class="text-center map-head">Wadi Makkah of Technology</h1>
                        <div class="data-container services">
                            <div class="row justify-content-start no-gutters">
                                <div class="data-box box-1 icon-box">
                                    <div class="ti data-box-in">
                                        <div class="head">
                                            <h4>Project Elements</h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-start d-flex">
                                                <div class="col-4" id="residential">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/residential.png" /></span>
                                                    </div>
                                                    <div class="icon-title">residential area</div>
                                                </div>
                                                <div class="col-4" id="hotel">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/hotel.png" /></span>
                                                    </div>
                                                    <div class="icon-title">hotel</div>
                                                </div>
                                                <div class="col-4" id="business-center">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/business-center.png" /></span>
                                                    </div>
                                                    <div class="icon-title">business center</div>
                                                </div>
                                                <div class="col-4" id="innovation-lab">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/innovation-center.png" /></span>
                                                    </div>
                                                    <div class="icon-title">innovation lab</div>
                                                </div>
                                                <div class="col-4" id="national-transformation-initiatives">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/national-transformation-initiatives.png" /></span>
                                                    </div>
                                                    <div class="icon-title">national transformation initiatives</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-2">
                                    <div class="card map-popup">
                                        <div class="image-area">
                                            <img src="images/city-image.png" class="card-img-top">
                                            <div class="text">
                                                <p class="short-desc">Located in Umm Al Qura University campus in Makkah Al Mukarramah city</p>
                                            </div>
                                        </div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="list-title">Established Date</span><span class="list-data">1433H/ 2012G</span></li>
                                            <li class="list-group-item"><span class="list-title">Total Area (m<sup>2</sup>)</span><span class="list-data">431,087</span></li>
                                            <li class="list-group-item"><span class="list-title">Achievement Percentage</span><span class="list-data">20%</span></li>
                                        </ul>
                                        <div class="card-body">
                                            <a href="#" class="card-link">more . . .</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-1">
                                    <div class="head">
                                        <h4>Project Aims</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row no-gutters align-items-start d-flex">
                                            <div class="col-12">
                                                <ul class="list">
                                                    <li>Aims to contribute to the development of the knowledge-based economy through a partnership between educational and research institutions and the business community for the purpose of technology transfer, localization and development.</li>
                                                    
                                                    <li>To serve the national economy and achieve sustainable development.</li>
                                                    <li>Provide a stimulating and attractive environment for research and development centers in local and international companies.</li>
                                                    <li>To Build an ideal center in the field of knowledge and technology.</li>
                                                    <li>Strengthen cooperation with the university and the development of scientific activity and the commercial transformation of scientific research and innovation</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-container gallery">
                            <div class="grid">
                                <h3 class="coming-soon">Coming Soon</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="share-holder">
                <div class="btn_round mail inner-btn btn_email" data-toggle="modal" data-target="#formModal"><i class="fas fa-envelope-open-text"></i></div>
                <div class="btn_round briefcase inner-btn btn_selected">
                    <i class="fas fa-briefcase"></i>
                    <span class="badge badge-warning">0</span>
                    <div class="dropdown dd_selected">
                        <div class="checkbox">
                            <label class="form-check-label" for="check1"><span>Selected Cities</span></label>
                        </div>
                    </div>
                </div>
                <div class="btn_round plus inner-btn"><i class="fas fa-plus"></i></div>
                <div class="btn_round outer-btn"><i class="fas fa-share-alt"></i></div>
            </div>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-12">
            <div class="lang-btn1">
                <div class="btn_lang"><img class="btn1" src="images/eng-selected.png" alt="english sel"/></div>
                <div class="btn_lang"><img class="btn2" src="images/arb.png" alt="arabic"/></div>
                <div class="btn-dropdown btn_vdo" data-toggle="modal" data-target="#mainvideoModal"><div class="btn_round"><i class="fas fa-video"></i></div></div>
                <div class="btn-dropdown btn_home">
                    <div class="btn_round"><i class="fas fa-home"></i></div>
                    <div class="dropdown dd_home">
                        <a class="dropdown-item main-map" href="#">Saudi Arabia Map</a>
                        <a class="dropdown-item reset" href="#">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <img src="images/gallery/riyadh_1st/DJI_0018.JPG" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video width="100%" height="100%" autoplay controls>
                        <source src="images/gallery/riyadh_1st/DJI_0076.MOV" />
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mainvideoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video id="mainvideo" width="100%" height="100%" controls>
                        <source src="videos/modon_film.mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="section7" class="arabic">
    <div class="row align-items-center">
        <div class="col-12">
            arabic
        </div>
    </div>
</section>
