<section id="section2">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="lines-bg">
                <img src="images/lines.png" alt="background"/>
            </div>
            <div class="lang-buttons">
                <div class="row justify-content-around">
                    <div id="eng_vdo" class="btn-english"></div>
                    <div id="ara_vdo" class="btn-arabic"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

</script>
